body{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
#hh4-space{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
#conteur{
    margin: auto;
    padding-bottom: 20pxpx;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);
    width: 40%;
    height: 328px;
    color: white;
    box-shadow: 4px 4px 4px rgb(58, 58, 58), -4px -4px 4px rgb(58, 58, 58);
   
}
.input-01{
    margin: auto;
    display: flex;
    flex-direction: row;
}
.input-02, .input-03{
    margin-left: 20px;

}
.passe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.input-04{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.input-005{
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
input[type="sumbit"]{
    color: #c5c5;
}
.for-type{
    margin-left: 20px;
    margin-bottom: 5px;
}
.pp-11{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -25px;
    background-color: rgb(202, 79, 79);
    color: white;
}
.pp-22{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(202, 79, 79);
    color: white;
}